<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="{% url 'submit_contact' %}" 
    method="POST">
    {% csrf_token %}
    <!-- url ley chae correct url bhetauxa -->

    <label for="name"> Name: </label>
    <input type="text" id="name" name="name" required > <br> <br>
    <!-- name= wala chae django request.post.get('name ') ho -->

    <label for="message"> Message: </label>
    <input id="message" name="message"  rows="4" cols="50 "required > <br> <br>

    <input type="submit" value="Submit">
    </form>
</body>
</html>